/* BASIC */

html {
  background-color: #fdfdfd;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #000000;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 0px 8px;
  color: #12b0e8;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 90%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: rgb(8, 8, 8);
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(3, 3, 3, 3);
  box-shadow: 0 30px 60px 0 rgba(4, 4, 4, 4);
  text-align: center;
}

#formFooter {
  background-color: #12b0e8;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

/* Simple CSS3 Fade-in Animation */
